.svgHolder {
  background-color: lightgray;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.card {
  border: 0.3px solid black;
  margin: 50px auto;
  width: 70%;
}
.mobileCard {
  border: 0.3px solid black;
  margin: 50px auto;
  width: 90%;
}
