.container {
  color: black;
  text-align: center;
  margin: "auto";
  justify-content: space-evenly;
}

.img {
  width: 100%;
}

.contactTitle {
  margin: 30px 0;
}

.contactSocials {
  margin: 50px 0;
}

.contactEmail {
  justify-content: center;
  padding: 20px 0;
}
