.navbar {
  background-color: white;
  padding: 15px 0;
}

.logoDiv {
  flex-grow: 1;
}

.navLink {
  text-decoration: none;
  text-transform: none;
  margin: 0 20px;
  color: #8a2be2;
  transition-duration: 600ms;
  transition-property: text, color;
}

.navLink:hover {
  color: black;
}
.navLink:active {
  color: black;
}

.menuLink {
  font-size: 1.2rem;
  text-transform: none;
  text-decoration: none;
  color: #8a2be2;
  transition-duration: 600ms;
  transition-property: text, color;
}

.menuLink:hover {
  color: black;
}

.menuLink:active {
  color: black;
}
