.footer {
  background-color: lightgray;
  text-align: center;
  padding: 40px 0;
}

.Logo {
  color: black;
}

.footerLink {
  text-decoration: none;
  color: black;
}
.footerLink:hover {
  text-decoration: underline 0.5px;
}

.footerSocialContainer {
  padding: 10px 0;
  color: black;
}
