.navbar {
  background-color: white;
}

.logoDiv {
  color: "#00bbff";
  flex-grow: 1;
}

.navLink {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
.navLink:hover {
  text-decoration: underline;
  color: black;
}

.navLink:active {
  text-decoration: underline;
  color: black;
}

.menuLink {
  text-decoration: none;
  color: black;
}
.menuLink:hover {
  text-decoration: underline;
  color: black;
}

.menuLink:active {
  text-decoration: underline;
  color: black;
}
