.profile {
  background-color: rgb(235, 236, 237);
  padding: 60px 0;
  min-height: 80vh;
}

.card {
  width: 80%;
  margin: 20px auto;
  border: 0.5px solid black;
}

.linksContainer {
  border-right: 1px solid #8a2be2;
  text-align: center;
  margin: auto;
}

.links {
  color: #8a2be2;
  text-decoration: none;
}

.links:hover {
  color: black;
}

.details {
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

.activityTitles {
  text-align: center;
}

.activities {
  text-align: center;
}

.paper {
  margin: 30px auto;
  text-align: center;
  width: 70%;
  min-height: 150px;
  position: relative;
}

.checkingAccount {
  color: black;
  width: 80%;
  margin: 20px auto;
  border: 1.5px solid black;
  transition-duration: 300ms;
  transition-property: border, opacity;
}
.platinumAccount {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/photos/platinum_card_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 80%;
  margin: 20px auto;
  border: 1.5px solid black;
  transition-duration: 300ms;
  transition-property: border, opacity;
}

.emeraldAccount {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/photos/emerald_green_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 80%;
  margin: 20px auto;
  border: 1.5px solid black;
  transition-duration: 300ms;
  transition-property: border, opacity;
}
.blackAccount {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/photos/black_card_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 80%;
  margin: 20px auto;
  border: 1.5px solid black;
  transition-duration: 300ms;
  transition-property: border, opacity;
}

.platinumAccount:hover {
  border-color: green;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.emeraldAccount:hover {
  border-color: green;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.blackAccount:hover {
  border-color: green;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}
.checkingAccount:hover {
  border-color: green;
  color: black;
  cursor: pointer;
  opacity: 0.8;
}

.btn {
  color: #8a2be2;
  border-color: #8a2be2;
  transition-duration: 500ms;
  transition-property: color, border, background-color;
}

.btn:hover {
  color: white;
  border-color: #8a2be2;
  background-color: #8a2be2;
}
